
@{
    ViewBag.Title = "Index";
}

<div class="text-center container">
    <h2 class="text-primary">Trang giới thiệu bản thân</h2>
    <h3>Họ và tên: <i>@ViewBag.Name</i></h3>
    <h3>Ngày sinh: <i>@ViewBag.Birthday</i></h3>
    <h3>Lớp: <i>@ViewBag.Class</i></h3>
    <h3>Địa chỉ: <i>@ViewBag.Address</i></h3>
    <h3>SĐT: <i>@ViewBag.PhoneNumber</i></h3>
</div>
