@model IEnumerable<T3H_K34DL1_WebMVC5.Models.EF.NhaSX>

@{
    ViewBag.Title = "Index";
}

<h2>Danh Sách Nhà Sản Xuất</h2>

<p>
    <a class="btn btn-sm btn-success" href="/NhaSX/Create"><i class="fas fa-plus"></i>&nbsp;Thêm Nhà Sản Xuất</a>
</p>
<div class="table-responsive">
    <table class="table table-sm table-hover table-striped table-bordered text-center">
        <tr>
            <th>STT</th>
            <th>Tên Nhà Sản Xuất</th>
            <th>Địa Chỉ</th>
            <th>EMail</th>
            <th>SĐT</th>
            <th>Số Fax</th>
            <th>Thao Tác</th>
        </tr>
        @{ int i = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{ 
                        if(item != null) { i++; }
                    }
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNSX)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fax)
                </td>
                @*<td>
                        @Html.ActionLink("Sửa", "Edit", new { id=item.MaNSX }, new { @class = "btn btn-sm btn-warning"})
                        @Html.ActionLink("Chi Tiết", "Details", new { id=item.MaNSX }, new { @class = "btn btn-sm btn-primary" })
                        @Html.ActionLink("Xóa", "Delete", new { id=item.MaNSX }, new { @class = "btn btn-sm btn-danger" })
                    </td>*@
                <td class="text-nowrap" style="width:1px">
                    <a class="btn btn-sm btn-warning" href="/NhaSX/Edit/@item.MaNSX"><i class="fas fa-pencil-alt"></i>&nbsp;Sửa</a>
                    <a class="btn btn-sm btn-primary" href="/NhaSX/Details/@item.MaNSX"><i class="fas fa-eye"></i>&nbsp;Chi Tiết</a>
                    <a class="btn btn-sm btn-danger" href="/NhaSX/Delete/@item.MaNSX"><i class="fas fa-trash-alt"></i>&nbsp;Xóa</a>
                </td>
            </tr>
        }

    </table>
</div>