@model LibraryManageWebsite.Models.EF.Owner

@{
    ViewBag.Title = "Chi tiết khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="shadow container mt-3 py-3">
        <div class="form-horizontal">
            <h2 class="text-center mb-3">Thông tin chi tiết khách hàng</h2>
            <hr />
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <label class="font-weight-bold">Tên khách hàng</label>
                <div class="col-md-12 pl-0">
                    <input type="text" class="form-control bg-light" value="@Model.Name" readonly />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="font-weight-bold">Email</label>
                    <div class="col-md-12 pl-0">
                        <input type="email" id="Email" name="Email" class="form-control bg-light" value="@Model.Email" readonly />
                    </div>
                </div>

                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="font-weight-bold">Số điện thoại</label>
                    <div class="col-md-12 pl-0">
                        <input type="text" class="form-control bg-light" value="@Model.Phone" readonly />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="font-weight-bold">Tên tài khoản</label>
                    <div class="col-md-12 pl-0">
                        <input type="text" class="form-control bg-light" value="@Model.Username" readonly />
                    </div>
                </div>

                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="font-weight-bold">Mật khẩu</label>
                    <div class="col-md-12 pl-0">
                        <input type="text" class="form-control bg-light" value="@Model.Password" readonly />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="font-weight-bold">Trạng thái</label>
                <div class="col-md-12 pl-0">
                    @{
                        var getStatus = Model.Status == 1 ? "Đã kích hoạt" : "Đã ngừng kích hoạt";
                    }
                    <input type="text" class="form-control bg-light" value="@getStatus" readonly />
                </div>
            </div>

            <div class="form-group text-center mt-5">
                @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }, new { @class = "btn btn-sm btn-warning" })
                <a class="btn btn-sm btn-secondary" onclick="window.history.go(-1); return false;">Quay Lại</a>
            </div>
        </div>
    </div>
}