@model IEnumerable<watchShop.Models.EF.tb_products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mt-3">Danh Sách Đồng Hồ</h2>

<p>
    <a class="btn btn-sm btn-success" href="/Admin/Product/Create"><i class="fas fa-plus"></i>&nbsp;Thêm Mới</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <tr class="text-center">
            <th>Ảnh</th>
            <th>Tên</th>
            <th>Danh Mục</th>
            <th>Số Lượng</th>
            <th>Giá</th>
            <th>Màu Sắc</th>
            <th>Mô Tả</th>
            <th>Tên Nhà Sản Xuất</th>
            <th>Thao Tác</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.pic)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.tb_category.name)
                </td>
                <td style="text-align:right;">
                    @{
                        var getAmount = String.Format("{0:0,0}", item.amount);
                    }
                    @getAmount
                </td>
                <td style="text-align:right;">
                    @{
                        var getPrice = String.Format("{0:0,0}", item.price);
                    }
                    @getPrice
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.color)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.desc_)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.tb_producer.name)
                </td>
                <td class="text-nowrap" style="width:1px">
                    <a class="btn btn-sm btn-warning" href="/Admin/Product/Edit/@item.watchID"><i class="fas fa-pencil-alt"></i>&nbsp;Sửa</a>
                    <a class="btn btn-sm btn-primary" href="/Admin/Product/Details/@item.watchID"><i class="fas fa-eye"></i>&nbsp;Chi Tiết</a>
                    <a class="btn btn-sm btn-danger" href="/Admin/Product/Delete/@item.watchID"><i class="fas fa-trash-alt"></i>&nbsp;Xóa</a>
                </td>
            </tr>
        }

    </table>
</div>