@model T3H_K34DL1_WebMVC5.Models.EF.HoaDonXuat

@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="shadow container mt-3 py-3">
        <div class="form-horizontal">
            <h2>Bạn thực sự có muốn xóa không?</h2>
            <hr />
            @Html.HiddenFor(model => model.MaHDXuat)

            <div class="form-group mb-3">
                <label class="form-label fw-bold">Thời Gian Xuất Hàng</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="NgayXuat" name="NgayXuat" readonly value="@Model.NgayXuat.Value.ToString("MM/dd/yyyy")" />
                </div>
            </div>

            <div class="form-group mb-3">
                <label class="form-label fw-bold">Tổng Tiền (VNĐ)</label>
                <div class="col-md-12">
                    <div class="checkbox">
                        <input type="text" class="form-control" id="TongTien" name="TongTien" readonly value="@Model.TongTien" />
                    </div>
                </div>
            </div>

            <div class="form-group mb-3">
                <label class="form-label fw-bold">Khách Hàng</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="TenKH" name="TenKH" readonly value="@Model.KhachHang.TenKH" />
                </div>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Xóa" class="btn btn-sm btn-danger" /> |
                @Html.ActionLink("Quay Lại", "Index", null, htmlAttributes: new { @class = "btn btn-sm btn-secondary" })
            </div>
        </div>
    </div>
}