@model T3H_K34DL1_WebMVC5.Models.EF.HoaDonXuat

@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="shadow container mt-3 py-3">
        <div class="form-horizontal">
            <h2>Chi Tiết Thông Tin Hóa Đơn Xuất</h2>
            <hr />
            @Html.HiddenFor(model => model.MaHDXuat)

            <div class="form-group mb-3">
                <label class="form-label fw-bold">Thời Gian Xuất Hàng</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="NgayXuat" name="NgayXuat" readonly value="@Model.NgayXuat.Value.ToString("MM/dd/yyyy")" />
                </div>
            </div>

            <div class="form-group mb-3">
                <label class="form-label fw-bold">Khách Hàng</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="TenKH" name="TenKH" readonly value="@Model.KhachHang.TenKH" />
                </div>
            </div>

            <div class="form-group">
                <label class="form-label fw-bold">Sản Phẩm Xuất Ra</label>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped text-center">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã Giày</th>
                                <th>Tên Giày</th>
                                <th>Số Lượng</th>
                                <th>Giá (VNĐ/1SP)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var ctHoaDonXuats = ViewBag.CT_HoaDonXuat as List<T3H_K34DL1_WebMVC5.Models.EF.CT_HDXuat>;

                                if (ctHoaDonXuats.Count > 0)
                                {
                                    int i = 0;
                                    foreach (var item in ctHoaDonXuats)
                                    {
                                        <tr>
                                            <td>
                                                @{ if (item != null) { i++; }}
                                                @i
                                            </td>
                                            <td>@item.Giay.MaGiay</td>
                                            <td>@item.Giay.TenGiay</td>
                                            <td>@String.Format("{0:0,0}", (Model.TongTien / item.Giay.Gia))</td>
                                            <td>@String.Format("{0:0,0}", item.Giay.Gia)</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5"><label class="text-danger">Không có mặt hàng nào trong hóa đơn!</label></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group mb-3">
                <label class="form-label fw-bold">Tổng Tiền (VNĐ)</label>
                <div class="col-md-12">
                    <div class="checkbox">
                        <input type="text" class="form-control" id="TongTien" name="TongTien" readonly value="@String.Format("{0:0,0}", Model.TongTien)" />
                    </div>
                </div>
            </div>

            <div class="form-group text-center">
                @Html.ActionLink("Sửa", "Edit", new { id = Model.MaHDXuat }, new { @class = "btn btn-sm btn-warning" }) |
                @Html.ActionLink("Quay Lại", "Index", null, htmlAttributes: new { @class = "btn btn-sm btn-secondary" })
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="modal-add-item" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thêm Chi Tiết Sản Phẩm Xuất Ra</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Thêm</button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Hủy</button>
                </div>

            </div>
        </div>
    </div>
}
@section scripts{
    <script src="~/Scripts/HDNhap/details.js"></script>
}