@model LibraryManageWebsite.Models.EF.PromissoryNote

@{
    ViewBag.Title = "Xóa phiếu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="shadow container mt-3 py-3">
        <div class="form-horizontal">
            <h2 class="text-center mb-3">Chỉnh sửa phiếu</h2>
            @Html.Partial("IndexPartialView\\AlertMessage")
            <hr />
            @Html.HiddenFor(model => model.Id)

            <input type="hidden" id="UserId" name="UserId" value="@Model.UserId" />
            <input type="hidden" id="OwnerId" name="OwnerId" value="@Model.OwnerId" />

            <div class="row">
                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="font-weight-bold">Nhân viên lập phiếu</label>
                    <div class="col-md-12 pl-0">
                        <input type="text" class="form-control bg-white" value="@Model.User.Name" readonly />
                    </div>
                </div>

                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="font-weight-bold">Số điện thoại đọc giả</label>
                    <div class="col-md-12 pl-0">
                        <input class="form-control bg-white" name="ReaderPhone" id="ReaderPhone" value="@Model.Reader.Phone" readonly>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="font-weight-bold">Tên sách</label>
                    <div class="col-md-12 pl-0">
                        <input class="form-control bg-white" name="BookName" id="BookName" value="@Model.Book.Name" readonly>
                    </div>
                </div>

                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="font-weight-bold">Tác giả</label>
                    <div class="col-md-12 pl-0">
                        <input class="form-control bg-white" name="BookAuthor" id="BookAuthor" value="@Model.Book.Author" readonly>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4">
                    <label class="font-weight-bold">Ngày mượn <small class="text-secondary">(tháng/ ngày/ năm)</small></label>
                    <div class="col-md-12 pl-0">
                        <input type="text" id="BorrowedDate" name="BorrowedDate" class="form-control bg-white" readonly value="@DateTime.Now.ToString("MM/dd/yyyy")" />
                    </div>
                </div>

                <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4">
                    <label class="font-weight-bold">Ngày trả <small class="text-secondary">(tháng/ ngày/ năm)</small></label>
                    <div class="col-md-12 pl-0">
                        <input type="text" id="ExpiryDate" name="ExpiryDate" class="form-control bg-white" value="@Model.ExpiryDate.ToString("MM/dd/yyyy")" readonly />
                    </div>
                </div>

                <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4">
                    <label class="font-weight-bold">Phí mượn</label>
                    <div class="col-md-12 pl-0">
                        <input type="text" id="Cost" name="Cost" class="form-control bg-white" value="@Model.Cost" readonly />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="font-weight-bold">Trạng thái</label>
                <div class="col-md-12 pl-0">
                    @{
                        var getStatus = Model.Status == 0 ? "Đang mượn" :
                            Model.Status == 1 ? "Đã trả" : "Trễ hạn";
                    }
                    <input type="text" class="form-control bg-white" value="@getStatus" readonly />
                </div>
            </div>

            <div class="form-group text-center mt-5">
                <input type="submit" value="Xóa" class="btn btn-sm btn-danger" />
                <a class="btn btn-sm btn-secondary" onclick="window.history.go(-1); return false;">Quay Lại</a>
            </div>
        </div>
    </div>
}