@model LibraryManageWebsite.Models.EF.PromissoryNote

@{
    ViewBag.Title = "Sửa phiếu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shadow container mt-3 py-3">
    <div class="form-horizontal">
        <h2 class="text-center mb-3">Chỉnh sửa phiếu</h2>
        <hr />
        @Html.HiddenFor(model => model.Id)

        <input type="hidden" id="UserId" name="UserId" value="@Model.UserId" />
        <input type="hidden" id="OwnerId" name="OwnerId" value="@Model.OwnerId" />

        <div class="row">
            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                <label class="font-weight-bold">Nhân viên lập phiếu</label>
                <div class="col-md-12 pl-0">
                    <input type="text" class="form-control bg-white" value="@Model.User.Name" readonly />
                </div>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                <label class="font-weight-bold">Số điện thoại đọc giả <span class="text-danger">*</span></label>
                <div class="col-md-12 pl-0">
                    <input class="form-control" list="readerPhone" name="ReaderPhone" id="ReaderPhone" value="@Model.Reader.Phone">
                    <datalist id="readerPhone" class="scrollable" style="overflow-y: auto!important">
                        @foreach (var item in ViewBag.GetReaderList)
                        {
                            <option value="@item.Phone"></option>
                        }
                    </datalist>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                <label class="font-weight-bold">Tên sách <span class="text-danger">*</span></label>
                <div class="col-md-12 pl-0">
                    <input class="form-control" list="bookName" name="BookName" id="BookName" value="@Model.Book.Name">
                    <datalist id="bookName" class="scrollable" style="overflow-y: auto!important">
                        @foreach (var item in ViewBag.GetBookNameList)
                        {
                            <option value="@item.Name"></option>
                        }
                    </datalist>
                </div>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                <label class="font-weight-bold">Tác giả <span class="text-danger">*</span></label>
                <div class="col-md-12 pl-0">
                    <input class="form-control" list="bookAuthor" name="BookAuthor" id="BookAuthor" value="@Model.Book.Author">
                    <datalist id="bookAuthor" class="scrollable" style="overflow-y: auto!important">
                        @foreach (var item in ViewBag.GetAuthorList)
                        {
                            <option value="@item.Author"></option>
                        }
                    </datalist>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4">
                <label class="font-weight-bold">Ngày mượn <small class="text-secondary">(tháng/ ngày/ năm)</small></label>
                <div class="col-md-12 pl-0">
                    <input type="text" id="BorrowedDate" name="BorrowedDate" class="form-control bg-white" readonly value="@DateTime.Now.ToString("MM/dd/yyyy")" />
                </div>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4">
                <label class="font-weight-bold">Ngày trả <span class="text-danger">*</span> <small class="text-secondary">(tháng/ ngày/ năm)</small></label>
                <div class="col-md-12 pl-0">
                    <input type="text" id="ExpiryDate" name="ExpiryDate" class="form-control" value="@Model.ExpiryDate.ToString("MM/dd/yyyy")" />
                </div>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4">
                <label class="font-weight-bold">Phí mượn</label>
                <div class="col-md-12 pl-0">
                    <input type="text" id="Cost" name="Cost" class="form-control bg-white" value="@Model.Cost" readonly />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="font-weight-bold">Trạng thái</label>
            <div class="col-md-12 pl-0">
                <select id="Status" name="Status" class="form-control">
                    @if (Model.Status == 0)
                    {
                        <option value="0" selected>Đang mượn</option>
                        <option value="2">Trễ hạn</option>
                    }
                    else if(Model.Status == 2)
                    {
                        <option value="0">Đang mượn</option>
                        <option value="2" selected>Trễ hạn</option>
                    }
                    else
                    {
                        <option value="1" selected>Đã trả</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group text-center mt-5">
            <input type="button" value="Lưu" class="btn btn-sm btn-primary" id="update-pn-btn" />
            <a class="btn btn-sm btn-secondary" href="@Url.Action("Index", "PromissoryNotes")">Quay lại</a>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/CustomJs/edit-promissory-note.js"></script>
}