@model PagedList.PagedList<LibraryManageWebsite.Models.EF.PromissoryNote>

@using PagedList.Mvc

@{
    ViewBag.Title = "Danh sách phiếu đã trả";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shadow container mt-3 py-3">
    <h2 class="text-center mb-3">Danh sách phiếu đã trả</h2>
    <div class="row my-3">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-3">
            @using (Html.BeginForm())
            {
                <div class="input-group">
                    <input type="text" class="form-control bg-light small" id="keyword" name="keyword" placeholder="Nhập từ khóa cần tìm..."
                           aria-label="Search" aria-describedby="basic-addon2" value="@ViewBag.Keyword">
                    <input type="hidden" id="page" name="page" value="1" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
    @Html.Partial("IndexPartialView\\AlertMessage")
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover table-striped text-center">
            <tr>
                <th>Nhân viên lập phiếu</th>
                <th>Tên đọc giả</th>
                <th>Số điện thoại</th>
                <th>Tên sách</th>
                <th>Ngày trả</th>
                <th>Chi phí mượn</th>
                <th>Thao tác</th>
            </tr>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.User.Name)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reader.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reader.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book.Name)
                        </td>
                        <td>
                            @{
                                var getExpiryDate = item.ExpiryDate.ToString("MM/dd/yyyy");
                            }
                            @getExpiryDate
                        </td>
                        <td style="text-align:right;">
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td class="text-nowrap" style="width:1px">
                            @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-primary" })
                            @if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Xóa", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

    <div class="text-center">
        @Html.PagedListPager(Model, page => Url.Action("ReturnedBookList",
        new { page = page, pageSize = ViewBag.PageSize, keyword = ViewBag.Keyword }))
    </div>
</div>