@model LibraryManageWebsite.Models.EF.Contact

@{
    ViewBag.Title = "Thêm mới liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="shadow container mt-3 py-3">
        <div class="form-horizontal">
            <h2 class="text-center mb-3">Thêm liên hệ</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <input type="hidden" id="OwnerId" name="OwnerId" value="@Session["ownerId"]" />

            <div class="form-group">
                <label class="font-weight-bold">Tên người nhận liên hệ <span class="text-danger">*</span></label>
                <div class="col-md-12 pl-0">
                    @Html.EditorFor(model => model.AdminName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AdminName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="font-weight-bold">Email <span class="text-danger">*</span></label>
                    <div class="col-md-12 pl-0">
                        @Html.EditorFor(model => model.AdminEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AdminEmail, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="font-weight-bold">Số điện thoại <span class="text-danger">*</span></label>
                    <div class="col-md-12 pl-0">
                        @Html.EditorFor(model => model.AdminPhone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AdminPhone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                <label class="form-label font-weight-bold">Trạng thái <span class="text-danger">*</span></label>
                <div class="col-md-12 pl-0">
                    <select id="Status" name="Status" class="form-control">
                        <option value="1">Liên hệ được</option>
                        <option value="0">Đã hủy liên hệ</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group text-center mt-5">
                <input type="submit" value="Tạo" class="btn btn-sm btn-primary" />
                <a class="btn btn-sm btn-secondary" onclick="window.history.go(-1); return false;">Quay Lại</a>
            </div>
        </div>
    </div>
}