
@{
    ViewBag.Title = "Submit";
}

<h2>Submit</h2>

<p>Họ tên: @ViewBag.Name</p>
<p>Tuổi: @ViewBag.Age</p>
<p>Giới tính: @ViewBag.Gender</p>
<p>Lớp: @ViewBag.Classes</p>
<p>Giới thiệu bản thân: @ViewBag.Des</p>